@model IEnumerable<FinalAssetsMVC1.Models.Asset>

@{
    ViewData["Title"] = "Index";
    var sortedByPurchaseDesc = Model.OrderByDescending(i => i.PurchaseDate).ToList();

}

<h1>Assets - sorted by purchase date</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>
                <a asp-action="Index">Purchase Date</a>
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Item)
            </th>
            <th>
                <a asp-action="Index_sortedByOffice">Office</a>
            </th>
            <th></th>
        </tr>
    </thead>

    <tbody>
        @foreach (var item in sortedByPurchaseDesc)
        {
            <tr class="@item.printDetails(item.Item, item.Office)">                
                <td>
                    @Html.DisplayFor(modelItem => item.PurchaseDate)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Type)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Item.Model)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Office.Name)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

